@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.title {
  font-family: "Fredoka One", cursive;
  font-weight: 500;
  font-size: 70px;
  color: white;
  text-shadow: 4px 4px 8px blueviolet;
  display: flex;
  justify-content: center;
}

body {
  background-color: lightgreen
}

.header-font {
  font-family: "Fredoka One", cursive;
  font-size: 45px;
  display: flex;
  justify-content: center;
}

.header-burger {
  width: 700px;
  height: 350px;
  object-fit: cover;
}