@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.title {
  font-family: "Fredoka One", cursive;
  font-weight: 500;
  font-size: 70px;
  text-shadow: 4px 4px 6px blueviolet;
  display: flex;
  justify-content: center;
}